[submodule "src/freetype-gl"]
	path = src/freetype-gl
	url = https://github.com/rougier/freetype-gl.git
[submodule "src/cglm"]
	path = src/cglm
	url = https://github.com/recp/cglm.git
[submodule "src/subproject/freetype-gl"]
	path = src/subproject/freetype-gl
	url = https://github.com/rougier/freetype-gl.git
[submodule "src/subproject/cglm"]
	path = src/subproject/cglm
	url = https://github.com/recp/cglm.git
